.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: #f5f5f5;
}
.header img{
    width:10px;
    color: #333;
    background-color: transparent;
    filter: invert(1) brightness(100) invert(1);
    mix-blend-mode: color-dodge;
}